body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pdc-submit-button {
  color: white;
  background-color: #0D8BD9;
  border-color: transparent;
  padding: 8px;
  border-radius: 5px;
}
