<div id="dropin-wrapper">
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button" class="pdc-submit-button">Procesar Pago</button>
</div>

<script>
  var button = document.querySelector('#submit-button');

  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  
  let amount = `${params.amount}`;

  braintree.dropin.create({
    // Insert your tokenization key here
    authorization: 'sandbox_x6svknjy_gc7p8sdryxzcdnqw',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function () {
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        // When the user clicks on the 'Submit payment' button this code will send the
        // encrypted payment information in a variable called a payment method nonce
        $.ajax({
          type: 'POST',
          url: '/checkout',
          data: {
            'paymentMethodNonce': payload.nonce,
            'amount': amount
            }
        }).done(function(result) {
          // Tear down the Drop-in UI
          instance.teardown(function (teardownErr) {
            if (teardownErr) {
              console.error('No se pudo procesar el pago');
            } else {
              console.info('Cargo procesado');
              // Remove the 'Submit payment' button
              $('#submit-button').remove();
            }
          });

          if (result.success) {
            
            $('#checkout-message')
            .html('<h1>Aprobado</h1><p>Por favor regrese a la página anterior para poder ver reflejado su saldo.</p>');
            window.location = '/success';
            return 'holi';
          } else {
            console.log(result);
            $('#checkout-message')
            .html('<h1>Error</h1><p>Por favor regrese a la página anterior e intente de nuevo.</p>');
            window.location = '/transaction-error';
          }
        });
      });
    });
  });
</script>